{% extends "users/base_dashboard.html" %}

{% block title %}Admin Dashboard{% endblock %}
{% block header %}Admin Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">

    <div class="card">
        <h3>Manage Users</h3>
        <a href="{% url 'users:manage_users' %}">Go</a>
    </div>

        <div class="card">
        <h3>View Calendar</h3>
         <a href="/calendar/">Go</a>
    </div>

    <div class="card">
        <h3>Event Approval</h3>
        <a href="{% url 'calendar:approval' %}">Go</a>
    </div>

    <div class="card">
        <h3>Reports</h3>
        <a href="#">Go</a>
    </div>

</div>
{% endblock %}
